body {
    background-image: url("../images/homepage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

.hero {
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container {
    max-width: 960px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.hgpos {
    color: white;
    text-align: right;
}